<!DOCTYPE html>
<html lang="lv-LV">

<head>
    <title>Start(it)  Aija Startē</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/custom.css" media="screen" title="no title" charset="utf-8">
    <link rel="icon" href="images\Start(IT)SmallLogo.png">

</head>

<body>
<h1>HTML tagi</h1>    

<footer class="mastfoot mt-auto container-fluid text-center bg-lightgray">
    <div class="copyrights">
        <p>Start(IT) © 2019
            <br>
            <span>Izstrādātājs: Komanda xxx</span>
            <br>
            <span>Īpašnieks: Start(IT)</span>
            <br>
            <span>VEF Kultūras pils</span>
        </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="javaScript/bootstrap.min.js"></script>
<script type="text/javascript" src="javaScript/custom.js"></script>

</html>